@use "../../../styles/confing.scss" as config;
.wrapper {
  // min-height: 8vh;
  width: 100%;
  background-color: #ffdd9d;
  margin: 10rem 0;
  // padding: 7rem;
  height: fit-content;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  padding: 7rem 0;
}
@media (max-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
