@use "../../../styles/confing.scss" as config;

.image {
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right bottom,
      transparent 20%,
      transparent 30%,
      #fea80985 60%,
      config.$color-light-orange 95%
    );
  }
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #02142096;
  }
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  // max-height: ;
  height: 8rem;
  transition: all 0.3s;
  &:hover {
    scale: 1.1;
  }
  cursor: pointer;
}
.text {
  position: absolute;
  bottom: -5px;
  right: -5px;
  color: #021420;
  background: linear-gradient(
    to bottom,
    config.$color-light-orange,
    config.$color-dark-orange
  );
  clip-path: polygon(15% 0%, 88% 0%, 85% 100%, 0% 100%);

  width: 100%;
  & p {
    width: 100%;
    text-align: center;
    padding-right: 1rem;
    text-transform: uppercase;
  }
}
