.container {
  width: 100%;
  height: 25rem;
  position: relative;
  // margin: 2rem;
  display: flex;
  padding: 2rem;
}
.image {
  position: relative;
  background-color: #ffffff9a;
  height: 100%;
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  rotate: y 180deg;
  backface-visibility: hidden;
  & h3 {
    text-transform: capitalize;
    margin: 0 0 1rem 0;
  }
}
.placeholder {
  width: 100%;
  height: 100%;
}

.animate-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  rotate: y 180deg;
  animation: animate-inner 1s ease-out;
}

.animate-outer {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 50%;
  left: 58%;
  translate: -20% -50%;
  perspective: 1000px;
  transform-style: preserve-3d;
  animation: animate-outer 1s ease-out;
}

@keyframes animate-inner {
  0% {
    rotate: y 0deg;
  }
  30% {
    rotate: y 0deg;
  }
  100% {
    rotate: y -180deg;
  }
}

@keyframes animate-outer {
  0% {
    z-index: -2;
    translate: -100% -50%;
    scale: 0.7 1;
  }
  54% {
    z-index: -2;
  }
  55% {
    z-index: inherit;
  }
  100% {
    scale: 1 1;
    translate: -20% -50%;
  }
}

@keyframes animate-outer-reverse {
  0% {
    z-index: -2;
    translate: -0% -50%;
    scale: 0.7 1;
  }
  54% {
    z-index: -2;
  }
  55% {
    z-index: inherit;
  }
  100% {
    scale: 1 1;
    translate: -80% -50%;
  }
}

@keyframes animate-inner-reverse {
  0% {
    rotate: y 0deg;
  }
  30% {
    rotate: y 0deg;
  }
  100% {
    rotate: y 180deg;
  }
}

.reverse {
  flex-direction: row-reverse;
  & .content {
    text-align: end;
  }
  & .animate-inner {
    // left: 50%;
    animation: animate-inner-reverse 1s ease-out;
  }

  & .animate-outer {
    position: absolute;
    translate: -80% -50%;
    animation: animate-outer-reverse 1s ease-out;
    left: 42%;
  }
}

@media (max-width: 700px) {
  .image {
    position: static;
    height: auto;
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .content {
    position: static;
    rotate: x 180deg;
  }
  .animate-outer {
    position: static;
  }
  .animate-outer {
    width: auto;
    height: auto;
    translate: 0% 0%;
  }
  .reverse {
    & .content {
      text-align: start;
    }
    & .animate-inner {
      animation: animate-inner-column 1s ease-out;
    }

    & .animate-outer {
      position: static;
      animation: none;
      width: auto;
      height: auto;
      translate: 0% 0%;
    }
  }
  .container {
    width: 100%;
    height: 40rem;
    flex-direction: column;
  }
  .animate-inner {
    rotate: x 180deg;
    animation: animate-inner-column 1s ease-out;
  }
  .animate-outer {
    animation: none;
  }
}

@keyframes animate-inner-column {
  0% {
    rotate: x 0deg;
  }

  100% {
    rotate: x 180deg;
  }
}

@media (max-width: 350px) {
}
