@use "../../styles/confing.scss" as config;

.category {
  border: none;
  @include config.color-gradient-main;
  text-transform: uppercase;
  // border-radius: 50%;
  font-weight: 600;
  color: config.$color-main;
  clip-path: ellipse(45% 45% at 50% 50%);
  cursor: pointer;
  &:hover {
    animation: ball-squize 2s infinite;
  }
}

@keyframes ball-squize {
  0% {
    clip-path: ellipse(45% 45% at 50% 50%);
  }
  35% {
    clip-path: ellipse(50% 35% at 50% 50%);
  }
  50% {
    clip-path: ellipse(35% 45% at 50% 50%);
  }
  75% {
    clip-path: ellipse(50% 35% at 50% 50%);
  }
  100% {
    clip-path: ellipse(45% 45% at 50% 50%);
  }
}
