.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.final-price {
}

.wrapper {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.actions {
  display: flex;
  justify-content: space-between;
}
