@use "./styles/confing.scss" as config;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  min-height: 100vh;
  // @include config.color-gradient-main;
  background-color: config.$color-light-orange;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: config.$color-text-main;
}
