@use "../../../styles/confing.scss" as config;

.container {
  background-color: #021420;
  height: 100%;
  width: 100%;
  color: #fff;
}
.categories-container {
  width: 100;
  height: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0;
  column-gap: 0;
  // gap: 2rem;
}
.panel1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
  align-items: center;
  border-right: solid config.$color-dark-orange 5px;
  padding: 2rem 0;
}
.panel1::-webkit-scrollbar {
  display: none;
}
.categories-container::-webkit-scrollbar {
  display: none;
}
.panel2::-webkit-scrollbar {
  display: none;
}
.panel2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem;
  overflow: scroll;
}
.title {
  border: none;
  background: transparent;
  color: #021420;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  // background-color: #28a8ec;
  background: linear-gradient(
    to bottom,
    config.$color-light-orange,
    config.$color-dark-orange
  );
  padding: 5px;
  // clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  // width: 80%;
  font-weight: 600;
  position: relative;
  z-index: 4;
}

@media (max-width: 950px) {
  .panel2 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .categories-container {
    grid-template-columns: 1fr;
  }
  .panel1 {
  }
  .panel2 {
    display: none;
  }
  .categories-container.subcategories-shown {
    .panel1 {
      display: none;
    }
    .panel2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 550px) {
  .categories-container.subcategories-shown {
    .panel2 {
      grid-template-columns: 1fr;
    }
  }
} ;
