@use "../../styles/confing.scss" as config;

.status-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  color: config.$color-main;
  opacity: 0.2;
}
.icon {
  height: 2rem;
  width: 2rem;
  background-color: config.$color-main;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
}
.text__step-name {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.text__timestamp {
  margin: 0;
  padding: 0;
}
.status-row.active {
  opacity: 1;
}
