@use "../../styles/confing.scss" as config;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.remaining-time {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
}

.status-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-width: 20rem;
}
