@use "../../styles/confing.scss" as config;

.container {
  display: inline-block;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  background-color: #fea80986;
  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    // position: relative;
    z-index: 5;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: #fea8092d;
    z-index: 50;
  }
}

@keyframes fly {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
.shawarma_store {
  border-radius: 10px;
  overflow: hidden;
  height: 7rem;
  width: 7rem;
}
.dot {
  padding: 5px;
  background-color: config.$color-light-orange;
  border-radius: 50%;
}
.dots {
  height: 20%;
  width: 30%;
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background-color: #fff;
  border-radius: 5px;
  left: 20%;
  top: 10%;
  &::after {
    content: "";
    height: 30%;
    width: 30%;
    position: absolute;
    background-color: #fff;
    clip-path: polygon(51% 100%, 0 0, 100% 0);
    bottom: -26%;
    left: 7%;
  }
}

.jump-1 {
  animation: jump-1 1s infinite;
}
@keyframes jump-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.jump-2 {
  animation: jump-2 1s infinite;
}
@keyframes jump-2 {
  15% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-100%);
  }
}
.jump-3 {
  animation: jump-3 1s infinite;
}
@keyframes jump-3 {
  30% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-100%);
  }
}
.shawarma_cooking {
  position: relative;
  height: 8rem;
  width: 8rem;
}
.shawarma_meat {
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
}
.knife {
  scale: 0.8;
  z-index: 100;
  position: absolute;
  top: 0px;
  right: 0;
  animation: knife-cutting 1s infinite;
}

@keyframes knife-cutting {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(10%, -20%) rotate(30deg);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.delivering {
  height: 9rem;
  animation: delivering 0.1s infinite;
}
@keyframes delivering {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(1%, 1%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.delivered {
  height: 10rem;
  width: 7.4rem;
  position: relative;
}
.man {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hand {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: knocking 0.1s infinite;
}
@keyframes knocking {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.picking-up {
  border-radius: 10px;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
  position: relative;
  & img {
    height: 70%;
    width: 70%;
    object-fit: contain;
    // position: relative;
    z-index: 5;
    bottom: 6%;
    position: absolute;
    left: 15%;
  }
}

@media (max-width: 500px) {
  .container {
    height: 10rem;
    width: 10rem;
    overflow: hidden;
  }
}
