@use "../../../styles/confing.scss" as config;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: config.$color-light-orange;
  z-index: 1000;
}

.header {
  // @include config.color-gradient-main;
  background-color: config.$color-light-orange;
  max-width: 75rem;
  margin: 0rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  gap: 2rem;
}

.logo {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo img {
  height: 4rem;
  border-radius: 20px;
}

.auth-btn {
  text-decoration: none;
  color: config.$color-main;
  font: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 5px 2rem;
  border: 1px solid config.$color-main;
  border-radius: 10px;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: config.$color-text-main;
  font: inherit;
  font-weight: 700;
  font-size: 1.2rem;
}
.nav-link.active {
  text-decoration: underline;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
