.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  justify-items: center;
}

.container {
  width: 100%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 1200px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .testimonials {
    grid-template-columns: repeat(1, 1fr);
  }
}
