.card {
  background-color: #ffdd9d;
  overflow: hidden;
  border-radius: 10px;
  padding: 3rem;
  // width: 100%;
  // min-height: 80vh;
  // margin: 0 auto;
  // margin-top: 6rem;
  // display: flex;
  // align-items: center;
}
