.tv {
  margin: 6rem auto 0 auto;
  height: 85vh;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen {
  width: 100%;
  height: 90%;
  background-color: #333;
  padding: 1.2rem;
}

.inner-screen {
  height: 90%;
  width: 100%;
  background: repeating-radial-gradient(#000 0 0.0001%, #999 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #999 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
}
@keyframes b {
  100% {
    background-position: 50% 0, 60% 50%;
  }
}
.stand {
  display: inline-block;
  height: 10%;
  // height: 10vh;
  width: 50vw;
  background-color: #333;
  clip-path: polygon(
    41% 0%,
    40% 50%,
    5% 60%,
    0% 100%,
    100% 100%,
    95% 60%,
    61% 50%,
    60% 0%
  );
  transform: translateY(-2px);
  transition: all 1s;
}
