.main-content {
  margin-top: 10rem;
}
.pula {
  height: 10vh;
  width: 50vw;
  background-color: #333;
  // clip-path: polygon(
  //   0% 0%,
  //   100% 0%,
  //   100% 90%,
  //   55% 90%,
  //   55% 95%,
  //   69% 96%,
  //   70% 100%,
  //   30% 100%,
  //   31% 96%,
  //   45% 95%,
  //   45% 90%,
  //   0% 90%
  // );
  clip-path: polygon(
    41% 0%,
    40% 50%,
    5% 60%,
    0% 100%,
    100% 100%,
    95% 60%,
    61% 50%,
    60% 0%
  );

  transition: all 1s;
}
