.amount {
  display: flex;
  align-items: center;
  gap: 1rem;
  & input {
    font-size: 1rem;
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
    color: #8c1f38;
    &:hover {
      background-color: #8c1f3852;
      color: #8c1f38;
    }
    &:active {
      background-color: #8c1f38;
      color: #fff;
    }
  }
}
@media (max-width: 550px) {
  .amount {
    gap: 10px;
  }
}
