.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  /* background-color: white; */
  background-color: #fff5e2;
  max-width: 60rem;
  margin: 7rem auto;
}
@media (max-width: 400px) {
  .card {
    padding: 1rem 0;
  }
} ;
