@use "../../../styles/confing.scss" as config;
.extra-ingr {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  gap: 2rem;
  &__name {
    text-transform: capitalize;
  }
  &__price {
    margin-left: auto;
    color: config.$color-main;
  }
}
@media (max-width: 550px) {
  .extra-ingr {
    margin: 0;
    gap: 1rem;
    & input {
      width: 2rem;
    }
    &__price {
      margin-left: auto;
    }
  }
}
